// Import bower_components
@import 'bower_components/bootstrap-sass/assets/stylesheets/bootstrap';

// Import components
@import 'components/loading';
@import 'components/pull';

// Import views here

// TODO: put this somewhere else
.table,
.table-striped {

  > tbody {
    > tr {
      cursor: pointer;
      user-select: none;

      &.table-highlight {
        color: rgb(255, 255, 255);
        background: $brand-primary;
      }
    }
  }
}
